{% extends 'movieratingapp/header.html' %}

{% block content %}

	<div class="container jumbotron" style="width:50%;margin-top:10%;border-radius:10px;">
		<form action="searchResults" method="post" class="form-horizontal" style="margin-left:60px;width:95%;">
									

			{% csrf_token %}
		    <div class="form-group">
		        <div class="col-sm-10">
		        	<input type="text" name="name" class="form-control" id="Name" placeholder="Enter the name of the movie / TV show.">
		        </div>
		    </div>


		    <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
				    <input type="submit" value="Search" class="btn btn-success">
				     &nbsp;&nbsp;&nbsp;
				    
			    </div>
		    </div>
		    
		</form>
	</div>

	<!-- <div><iframe width="640" height="390" src="https://www.youtube.com/embed/v1gTI4BOPUw" frameborder="0" allowfullscreen></iframe>
	</div>
 -->
 
{% endblock %}