<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Online Movie-TV Rating</title>

<!-- bootstrap -->
<link href = "css/bootstrap.min.css" rel = "stylesheet">
{% load staticfiles %} 												<!-- Only need to load this once. If it is called in header, no need to call it again in extended files. -->

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" type="text/css"/>

</head>

<body background="{% static 'images/movieratingapp/darth_vader_armor_star_wars_film_hat_snow_93645_1920x1080.jpg'%}">

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../common/routelist.php">Home</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->

</nav>




<div class="container jumbotron" style="width:50%;margin-top:10%;border-radius:10px;">
<form action="insert_admin.php" method="post" class="form-horizontal" style="margin-left:60px;width:95%;">
    <div class="form-group">
        <div class="col-sm-10">
        <input type="text" name="name" class="form-control" id="Name" placeholder="Enter the name of the movie / TV show.">
        </div>
    </div>


    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    <input type="submit" value="Search" class="btn btn-success">
     &nbsp;&nbsp;&nbsp;
    
    </div>
    </div>
    
</form>
</div>

<div><iframe width="640" height="390" src="https://www.youtube.com/embed/v1gTI4BOPUw" frameborder="0" allowfullscreen></iframe>
</div>

</body>
</html>